<div class="text-[2rem] text-slate-500 flex gap-2">
    This app was created using
    <span class="hover:scale-105 ease-in duration-150"><a class="text-[#3d72d7] font-bold" href="https://htmx.org/"
            rel="noopener" target="_blank">HTMX</a>,</span>
    <span class="hover:scale-105 ease-in duration-150"><a class="text-[#38bdf8] font-bold"
            href="https://tailwindcss.com/" rel="noopener" target="_blank">Tailwind</a></span> and
    <span class="hover:scale-105 ease-in duration-150"><a class="text-[#50b7e0] font-bold" href="https://go.dev/"
            target="_blank" rel="noopener">GO</a>.</span>
</div>